@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 8px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.reaction-travel {
  position: absolute;
  z-index: 1500;
  animation: reactions_travel 2s ease-in-out 1 both;
  animation-delay: var(--animation-delay,0s);
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none
}

@keyframes reactions_travel {
    0% {
        transform: translateY(-50px);
        rotate: var(--starting-angle);
        scale: 0;
        opacity: 0
    }

    5% {
        scale: .1;
        opacity: .2
    }

    60% {
        opacity: 1
    }

    to {
        transform: translateY(-80px);
        scale: 1.5;
        opacity: 0
    }
}
